/* Variables */
:root {
    --basic-black: #000000;
    --basic-extra-dark: #242424;
    /*hover main menu, bg for footer*/
    --basic-dark: #aba9a7;
    /*bread, btn radio text*/
    --basic-neutral: #e5e5e5;
    --basic-extra-light: #f8f5f2;
    /*feature text*/
    --basic-white: #ffffff;
    /*text*/

    --special: #663d15;

}

body {
    min-width: 960px;
    margin: 0;
    padding: 0;

    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: var(--basic-black);
    text-transform: uppercase;

    background-color: var(--basic-white);
    background-image: url('../images/bg-white.jpg');
    background-position: 0 0;
    background-repeat: repeat;
}

a {
    text-decoration: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    /*что бы картинка ни когда не была больше заданных значений (не больше чем контейнер)*/
    height: auto;
    /*чтобы картинка сохраняла пропорции*/
}

.page-body {
    /* background-image: url('../images/bg-index.jpg'); */
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 2560px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.title-h3 {
    font-size: 30px;
    line-height: 42px;
}

.title-h3-1 {
    font-size: 24px;
    line-height: 30px;
}

/* main-nav */

.main-nav {
    font-size: 16px;
    line-height: 20px;
    color: var(--basic-white);
    background: transparent;
}

.main-nav-wrapper {
    background-color: var(--basic-black);
}

.main-nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav-current a:not([href]) {
    background-color: var(--basic-black);
}

.main-nav__list a,
.main-nav__login a {
    color: var(--basic-white);
}

.main-nav__list a:hover,
.main-nav__list a:focus,
.main-nav__login a:hover,
.main-nav__login a:focus {
    background-color: var(--basic-extra-dark);
}


/* advantages */

.advantages {
    background-color: var(--basic-extra-dark);
}

.advantages__list {
    list-style: none;
    margin: 0;
    padding: 0;
    color: var(--basic-white);
}

.advantages__item {
    text-align: center;
}

.wrap_2_sections {
    background-color: var(--basic-white);
    background-image: url('../images/bg-white.jpg');
    background-position: center, 0 0;
    background-repeat: no-repeat, repeat;
}


/* news */

.news__list {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* gallery */

.gallery__figure {
    background-color: var(--basic-dark);
    border: 7px solid var(--basic-white);
}

.btn {
    display: inline-block;
    width: 140px;
    height: 43px;
    padding: 0;
    padding: 10px;

    font: inherit;
    line-height: inherit;
    text-align: center;
    color: var(--basic-white);

    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--basic-black);

    border: none;
    cursor: pointer;

}

.btn:hover,
.btn:focus,
.btn:active {
    background-color: var(--special);
}

.btn.disabled,
.btn:disabled {
    cursor: default;
    opacity: 0.5;
    background-color: var(--basic-black);
}


/* contacts */

.contacts__address a {
    font: inherit;
    color: var(--basic-black);
}


/* order */

.order__form-2-inputs-wrap input {
    font: inherit;
    background-color: transparent;
    border: 2px solid var(--basic-black);
}

.order__form-2-inputs-wrap input:focus {
    border-color: var(--special);
}

/* catalog */

/* breadcrumbs */

.breadcrumbs__list {
    list-style: none;
}

.breadcrumbs__item-link {
    color: var(--basic-black);
}

.breadcrumbs__item-link:hover,
.breadcrumbs__item-link:focus {
    text-decoration: underline;
}

.breadcrumbs__item .current {
    color: var(--basic-dark);
}


/* filter */

.filter__form legend {
    font-size: 24px;
    line-height: 30px;
}

.filter__fieldset1-list,
.filter__fieldset2-list {
    list-style: none;
    line-height: 18px;
}

.filter__fieldset1-item-input:hover+label,
.filter__fieldset1-item-input:focus+label,
.filter__fieldset2-item-radio:hover+label,
.filter__fieldset2-item-radio:focus+label {
    color: var(--special);
}


/* catalog items*/

.catalog__list {
    list-style: none;
    line-height: 18px;
}

.catalog__item {
    background-color: var(--basic-extra-light);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog__item-link {
    color: var(--basic-black);
}

.catalog__item-text {
    font-size: 14px;
    line-height: 18px;
}

.catalog__item-text {
    text-transform: none;
}

.catalog__item-price {
    text-align: center;
}

.catalog__item-buy {
    line-height: 18px;
    color: var(--basic-white);
}


/* pagination */

.pagination__list {
    list-style: none;
}

.pagination__item-link {
    color: var(--basic-white);
    background-color: var(--basic-black);
}

.pagination__item-link:hover,
.pagination__item-link:focus,
.pagination__item-link:active {
    background-color: var(--special);
}

.pagination__item-link.current,
.pagination__item-link.current:hover,
.pagination__item-link.current:focus,
.pagination__item-link.current:active {
    color: var(--basic-black);
    background-color: var(--basic-white);
}


/* catalog item */

/* pics */

.pics__list {
    list-style: none;
}

.pics__list-item {
    display: inline-block;
    box-shadow: 0px 0px 15px 2px rgba(0, 1, 1, 0.1);
}

.pics__list-item:hover {
    box-shadow: 0px 0px 15px 2px rgba(0, 1, 1, 0.2);
}

.pics__big {
    display: block;
    box-shadow: 0px 0px 15px 2px rgba(0, 1, 1, 0.1);
}

.description__article {
    text-align: right;
    color: var(--basic-neutral);
}

.description__price {
    text-align: center;
    background-color: var(--basic-neutral);
}

.description__set-in-title {
    font-size: 24px;
    line-height: 30px;
}

.description__set-in {
    list-style: none;
}

/* price */

.products__list {
    list-style: none;
}

.price_table td {
    border: 2px solid var(--basic-black);

}

.price_table {
    border-collapse: collapse;
}

/* footer */

.footer {
    color: var(--basic-white);
    background-color: var(--basic-extra-dark);
    background-image: url('../images/bg-footer.png');
    background-position: 0 0;
    background-repeat: repeat;
}

.footer__address a {
    color: var(--basic-white);
}

.footer__map-link {
    text-decoration: underline;
}

.footer__map-link:hover,
.footer__map-link:focus {
    text-decoration: none;
}

address {
    font-style: inherit;
}

.footer__wrapper {
    text-align: center;
}

.footer__socials-list {
    list-style: none;
}

.footer__socials-link {
    color: inherit;
}

.footer__socials-link:hover,
.footer__socials-link:focus {
    color: var(--basic-black);
    background-color: var(--basic-white);
}

.footer__socials-link:hover svg path,
.footer__socials-link:focus svg path {
    fill: var(--basic-black);
}

.footer__socials-link {
    color: inherit;
}

.footer__copy-link:hover,
.footer__copy-link:focus {
    color: var(--basic-black);
    background-color: var(--basic-white);
}

/* shadow for modal windows*/

.modal {
    background-color: var(--basic-extra-light);
    background-image: url('../images/bg-white.jpg');
    background-position: 0 0;
    background-repeat: repeat;

    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}


/* login */

.login {
    position: relative;
    width: 460px;
    height: 385px;
    padding: 50px 80px 48px 80px;
}

.login__title {
    /* padding: 0; */
    margin: 0;
    margin-bottom: 23px;
    font-size: 30px;
    line-height: 42px;
}

.login__form-inner {
    margin-bottom: 9px;
}

.login__form-inner:nth-child(2) {
    margin-bottom: 15px;
}

.login__form input[type="text"],
.login__form input[type="password"] {
    height: 39px;
    width: 100%;
    padding-left: 13px;
    padding-right: 30px;

    font: inherit;
    color: var(--basic-black);
    text-transform: uppercase;

    background-color: var(--basic-extra-light);
    border: 2px solid var(--basic-black);
}

input::placeholder {
    color: var(--basic-black);
}

.login__form input[type="text"]:focus,
.login__form input[type="password"]:focus {
    outline-color: var(--special);
    border-color: var(--special);
}

.login__form label:hover,
.login__form label:focus {
    color: var(--special);
}

.login__form-login-input {
    background-image: url('../svg/user.svg');
    background-position: 270px center;
    background-repeat: no-repeat;
}

.login__form-password-input {
    background-image: url('../svg/lock.svg');
    background-position: 270px center;
    background-repeat: no-repeat;
}

.login__form-checkbox-label {
    position: relative;

    padding-left: 25px;

    cursor: pointer;
}

.login__form-checkbox-input {
    position: absolute !important;

    clip: rect(1px 1px 1px 1px);

    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    margin-left: 20px;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
    -webkit-appearance: none;
    appearance: none;
}

.login__form-checkbox-input+.login__form-checkbox-label::before {
    position: absolute;
    content: "";

    margin-left: -25px;
    width: 20px;
    height: 20px;

    border: 2px solid var(--basic-black);
}

.login__form-checkbox-input:checked+.login__form-checkbox-label::before {
    position: absolute;
    content: "";

    margin-left: -25px;
    width: 20px;
    height: 20px;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath d='M11.12 2a.4.4 0 0 1 0 .57L8 5.71a.4.4 0 0 0 0 .57l3.14 3.14a.4.4 0 0 1 0 .57L10 11.13a.41.41 0 0 1-.57 0L6.27 8a.41.41 0 0 0-.57 0l-3.14 3.12a.41.41 0 0 1-.57 0L.85 10a.4.4 0 0 1 0-.57L4 6.28a.4.4 0 0 0 0-.57L.85 2.57a.4.4 0 0 1 0-.57L2 .86a.41.41 0 0 1 .57 0L5.7 4a.4.4 0 0 0 .57 0L9.41.87a.41.41 0 0 1 .57 0z'/%3E%3C/svg%3E");
    background-position: 2px 2px;
    background-repeat: no-repeat;
}

.login__form-checkbox-input:focus+.login__form-checkbox-label::before {
    border-color: var(--special);
}

.login__form-link-fix-pass {
    color: var(--basic-black);
    text-decoration: underline;
}

.login__form-link-fix-pass:hover,
.login__form-link-fix-pass:focus {
    text-decoration: none;
}

.login__form-btn-submit {
    width: 100%;
    margin-top: 15px;
}

.btn-close {
    position: absolute;
    top: 0;
    right: -24px;

    width: 22px;
    height: 22px;

    font-size: 0;

    border: 0;
    background-color: transparent;

    cursor: pointer;
}

.btn-close::before {
    position: absolute;
    content: "";

    top: 0px;
    right: -0px;

    border: none;
    width: 20px;
    height: 20px;

    background: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath d='M11.12 2a.4.4 0 0 1 0 .57L8 5.71a.4.4 0 0 0 0 .57l3.14 3.14a.4.4 0 0 1 0 .57L10 11.13a.41.41 0 0 1-.57 0L6.27 8a.41.41 0 0 0-.57 0l-3.14 3.12a.41.41 0 0 1-.57 0L.85 10a.4.4 0 0 1 0-.57L4 6.28a.4.4 0 0 0 0-.57L.85 2.57a.4.4 0 0 1 0-.57L2 .86a.41.41 0 0 1 .57 0L5.7 4a.4.4 0 0 0 .57 0L9.41.87a.41.41 0 0 1 .57 0z' fill='%23D0D0D0'/%3E%3C/svg%3E");
    background-position: 50% 50%;
    background-repeat: no-repeat;

}

.btn-close:hover::before,
.btn-close:focus::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath d='M11.12 2a.4.4 0 0 1 0 .57L8 5.71a.4.4 0 0 0 0 .57l3.14 3.14a.4.4 0 0 1 0 .57L10 11.13a.41.41 0 0 1-.57 0L6.27 8a.41.41 0 0 0-.57 0l-3.14 3.12a.41.41 0 0 1-.57 0L.85 10a.4.4 0 0 1 0-.57L4 6.28a.4.4 0 0 0 0-.57L.85 2.57a.4.4 0 0 1 0-.57L2 .86a.41.41 0 0 1 .57 0L5.7 4a.4.4 0 0 0 .57 0L9.41.87a.41.41 0 0 1 .57 0z' fill='%23fff'/%3E%3C/svg%3E");
    background-position: 50% 50%;
    background-repeat: no-repeat;
}


/* modal map */

.map {
    position: relative;
    width: 780px;
}